<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wpoceans">
    <title>Habibulloh Domla</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/flaticon.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet">
    <link href="assets/css/slick.css" rel="stylesheet">
    <link href="assets/css/slick-theme.css" rel="stylesheet">
    <link href="assets/css/swiper.min.css" rel="stylesheet">
    <link href="assets/css/owl.transitions.css" rel="stylesheet">
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start preloader -->
        <div class="preloader">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <!-- end preloader -->
        <header id="header" class="wpo-site-header wpo-header-style-2">
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-6 col-sm-7 col-12">
                            <div class="contact-intro">
                                <ul>
                                    <li><i class="fi ti-location-pin"></i>Surxandaryo, Termiz shaxar</li>
                                    <li><i class="fi flaticon-envelope"></i> Habibulloh@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-md-6 col-sm-5 col-12">
                            <div class="contact-info">
                                <ul>
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end topbar -->
            <div class="site-header header-style-1">
                <nav class="navigation navbar navbar-default original">
                    <div class="container">
                        <div class="navbar-header" style="display: flex; align-items: center;">
                            <button type="button" class="open-btn">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="assets/images/logo H.png" alt="" style="width: 100px; height: 100px;"></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse navigation-holder">
                            <button class="close-navbar"><i class="ti-close"></i></button>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">Bosh sahifa</a>
                                </li>
                                <li>
                                    <a href="about.html">Haqida</a>
                                </li>
                                <li class="">
                                    <a href="blog.html">Ma'qolalar</a>
                                </li>
                            </ul>
                        </div><!-- end of nav-collapse -->
                        <div class="cart-search-contact">
                            <div class="header-search-form-wrapper">
                                <button class="search-toggle-btn"><i class="ti-search"></i></button>
                                <div class="header-search-form">
                                    <form>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Search here...">
                                            <button type="submit"><i class="fi flaticon-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of container -->
                </nav>
            </div>
        </header>
        <!-- start of hero -->
        <section class="hero hero-style-1">
            <div class="hero-slider">
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-1.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>Eslating! Zero eslatma mo'minlarga manfa`at yetkazur</h2>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-2.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>Yaratgan Robbing nomi bilan o`qi. U insonni alaqdan yaratdi.</h2>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-3.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>O`qi! Robbing Karamlilarning karamlisidir. U, qalam bilan ilm o`rgatgandir.</h2>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->
        <!-- wpo-about-area start -->
        <div class="wpo-about-area-2 section-padding">
            <div class="container">
                <div class="wpo-about-wrap">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="wpo-about-img-3">
                                <img src="assets/images/man.jpg" alt="Man">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="wpo-about-text">
                                <div class="wpo-section-title" id="about">
                                    <span>Haqimizda</span>
                                    <h2>Seeking of knowledge is a duty of every Muslim</h2>
                                </div>
                                <p>The rise of Muslims to the zenith of civilization in a period of four decades was based on lslam's emphasis on learning. This is obvious when one takes a look at the Qur'an and the traditions of Prophet Muhammad which are filled with references to learning, education, observation.</p>
                                <div class="btns">
                                    <a href="about.html" class="theme-btn" tabindex="0">YouTube sahifa</a>
                                    <ul>
                                        <li class="video-holder">
                                            <a href="https://www.youtube.com/embed/LTqRm53QjI0" class="video-btn" data-type="iframe" tabindex="0"></a>
                                        </li>
                                        <li class="video-text">
                                            <a href="https://www.youtube.com/embed/LTqRm53QjI0" class="video-btn" data-type="iframe" tabindex="0">
                                                Video maruzalar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timer-section" id="namoz">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="timer-text">
                                <h2>Namoz vaqtlari</h2>
                                <p>Termiz namoz vaqtlari</p>
                                <span>Mon 15 Jan, 2020</span>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="timer-num">
                                <ul>
                                    <li>Tong<span>05:47</span></li>
                                    <li>Quyosh<span>07:05</span></li>
                                    <li>Peshin<span>12:34</span></li>
                                    <li>Asr<span>15:35</span></li>
                                    <li>Shom<span>17:58</span></li>
                                    <li>Xufton<span>19:15</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="timer-shape1">
                        <img src="assets/images/prayer-shape/2.png" alt="">
                    </div>
                    <div class="timer-shape2">
                        <img src="assets/images/prayer-shape/1.png" alt="">
                    </div>
                    <div class="timer-shape3">
                        <img src="assets/images/prayer-shape/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- wpo-about-area end -->
        <!-- wpo-event-area start -->
        <div class="wpo-event-area-2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-section-title">
                            <span>Ma`qolalar</span>
                            <h2>So'nggi ma`qolalar</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12 custom-grid">
                        <div class="wpo-event-item">
                            <div class="wpo-event-img">
                                <img src="assets/images/event/img-3.jpg" alt="">
                                <div class="thumb-text">
                                    <span>5</span>
                                    <span>FEV</span>
                                </div>
                            </div>
                            <div class="wpo-event-text">
                                <h2>Learn About Hajj</h2>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>8.00 - 5.00</li>
                                    <li><i class="fi ti-location-pin"></i>Newyork City</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <a href="event-single.html">Learn More...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 custom-grid">
                        <div class="wpo-event-item">
                            <div class="wpo-event-img">
                                <img src="assets/images/event/img-4.jpg" alt="">
                                <div class="thumb-text-2">
                                    <span>7</span>
                                    <span>FEV</span>
                                </div>
                            </div>
                            <div class="wpo-event-text">
                                <h2>Islamic Teaching Event</h2>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>8.00 - 5.00</li>
                                    <li><i class="fi ti-location-pin"></i>Newyork City</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <a href="event-single.html">Learn More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wpo-event-area end -->
        <!-- blog-area start -->
        <div class="blog-area section-padding">
            <div class="container">
                <div class="col-l2">
                    <div class="wpo-section-title">
                        <span>Ma`qolalar</span>
                        <h2>Eski ma'qolalar</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-4.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">The Importance of Marriage in Islam.</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-5.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">Salat is the best exercise for body fitness</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item b-0">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-6.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">Salat is the best exercise for body fitness</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog-area start -->
        <!-- footer-area start -->
        <div class="wpo-ne-footer">
            <!-- start wpo-site-footer -->
            <footer class="wpo-site-footer">
                <div class="wpo-upper-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-4 col-md-3 col-sm-6">
                                <div class="widget about-widget">
                                    <div class="logo widget-title">
                                        <img src="assets/images/logos.png" alt="blog"><br>
                                        <b>Habibulloh Do'mla</b>
                                    </div>
                                    <p></p>
                                    <ul>
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-instagram"></i></a></li>
                                        <li><a href="#"><i class="ti-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-6">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>Foydali linklar</h3>
                                    </div>
                                    <ul>
                                        <li><a href="#about">Biz haqimizda</a></li>
                                        <li><a href="contact.html">Kontaktlar</a></li>
                                        <li><a href="#video">Video maruzalar</a></li>
                                        <li><a href="#namoz">Namoz vaqtlari</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-4 col-lg-offset-1 col-md-3 col-sm-6">
                                <div class="widget market-widget wpo-service-link-widget">
                                    <div class="widget-title">
                                        <h3>Kontaktlar</h3>
                                    </div>
                                    <p>Bizga savol va taklifingiz bo'lsa marhamat.</p>
                                    <div class="contact-ft">
                                        <ul>
                                            <li><i class="fi ti-location-pin"></i>Surxandaryo, Termiz shaxar</li>
                                            <li><i class="fi flaticon-call"></i>+998 99 123 45 67</li>
                                            <li><i class="fi flaticon-envelope"></i>ummat@gmail.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end container -->
                </div>
                <div class="wpo-lower-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xs-12">
                                <p class="copyright">
                                    <div class="theme-btn-s3">
                                    <a href="https://tasnim.uz" style="color: aliceblue;"> &copy; 2023 Tasnim Akademiyasi</a>
                                </div>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end wpo-site-footer -->
        </div>
    </div>
    <!-- end of page-wrapper -->
    <!-- All JavaScript files
    ================================================== -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/circle-progress.min.js"></script>
    <!-- Plugins for this template -->
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <!-- Custom script for this template -->
    <script src="assets/js/script.js"></script>
</body>

</html>