<style>
    #header{
        position: unset;
        background-color: #1C4E7D;
    }
 </style>
 <!-- start page-wrapper -->
 <div class="page-wrapper">
    <!-- start preloader -->
    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!-- end preloader -->
       <!-- .wpo-breadcumb-area start -->
       <div class="wpo-breadcumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wpo-breadcumb-wrap">
                        <h2>Biz haqimizda</h2>
                        <ul>
                            <li><a href="index.html">Bosh sahifa</a></li>
                            <li><span>Biz haqimizda</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .wpo-breadcumb-area end -->
    <!-- wpo-about-area start -->
    <div class="wpo-about-area-3 section-padding">
        <div class="container">
            <div class="wpo-about-wrap">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="wpo-about-img-3">
                            <img src="assets/images/about3.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 colsm-12">
                        <div class="wpo-about-text">
                            <div class="wpo-section-title">
                                <span>Biz haqimizda</span>
                                <h2>Habibulloh Do'mla</h2>
                            </div>
                            <p>The rise of Muslims to the zenith of civilization in a period of four decades was
                                based on lslam's emphasis on learning.This is obvious when one takes a look at the
                                Qur'an and the traditions of Prophet Muhammad which are filled with references to
                                learning, education, observation.This is obvious when one takes a look at the Qur'an
                                and the traditions of Prophet Muhammad which are filled with references to learning,
                                education, observation.This is obvious when one takes a look at the Qur'an and the
                                traditions of Prophet Muhammad which are filled with references to learning,
                                education, observation. This is obvious when one takes a look at the Qur'an and the
                                traditions of Prophet Muhammad which are filled with references to learning,
                                education, observation.</p>
                            <div class="btns">
                                <a href="blog.html" class="theme-btn" tabindex="0">Ma'qolalar</a>
                                <ul>
                                    <li class="video-holder">
                                        <a href="https://www.youtube.com/embed/LTqRm53QjI0" class="video-btn"
                                            data-type="iframe" tabindex="0"></a>
                                    </li>
                                    <li class="video-text">
                                        <a href="https://www.youtube.com/embed/LTqRm53QjI0" class="video-btn"
                                            data-type="iframe" tabindex="0">
                                            YouTube sahifa
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- wpo-about-area end -->
    <!-- service-area-start -->
    <div class="service-area-3 section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wpo-section-title">
                                <span>Suratlar</span>
                                <h2>Tadbirlardan suratlar</h2>
                            </div>
                        </div>
                    </div>
                    <div class="service-wrap">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/1.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/1.jpg">
                                            <img class="rounded" src="assets/images/foto/1.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/2.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/2.jpg">
                                            <img class="rounded" src="assets/images/foto/2.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/3.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/3.jpg">
                                            <img class="rounded" src="assets/images/foto/3.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/4.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/4.jpg">
                                            <img class="rounded" src="assets/images/foto/4.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/5.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/5.jpg">
                                            <img class="rounded" src="assets/images/foto/5.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/6.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/6.jpg">
                                            <img class="rounded" src="assets/images/foto/6.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/7.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/7.jpg">
                                            <img class="rounded" src="assets/images/foto/7.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/8.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/8.jpg">
                                            <img class="rounded" src="assets/images/foto/8.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/9.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/9.jpg">
                                            <img class="rounded" src="assets/images/foto/9.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/10.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/10.jpg">
                                            <img class="rounded" src="assets/images/foto/10.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/11.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/11.jpg">
                                            <img class="rounded" src="assets/images/foto/11.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/12.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/12.jpg">
                                            <img class="rounded" src="assets/images/foto/12.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/13.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/13.jpg">
                                            <img class="rounded" src="assets/images/foto/13.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/14.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/14.jpg">
                                            <img class="rounded" src="assets/images/foto/14.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 custom-grid col-12">
                                <div class="service-single-item">
                                    <div class="service-single-img">
                                        <!-- <img src="assets/images/foto/15.jpg" alt=""> -->
                                        <a data-fancybox="gallery" href="assets/images/foto/15.jpg">
                                            <img class="rounded" src="assets/images/foto/15.jpg" />
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- service-area-end -->