        <!-- start of hero -->
        <section class="hero hero-style-1">
            <div class="hero-slider">
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-1.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>Eslating! Zero eslatma mo'minlarga manfa`at yetkazur</h2>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-2.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>Yaratgan Robbing nomi bilan o`qi. U insonni alaqdan yaratdi.</h2>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-3.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>O`qi! Robbing Karamlilarning karamlisidir. U, qalam bilan ilm o`rgatgandir.</h2>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->
        <!-- wpo-about-area start -->
        <div class="wpo-about-area-2 section-padding">
            <div class="container">
                <div class="wpo-about-wrap">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="wpo-about-img-3">
                                <img src="assets/images/man.jpg" alt="Man">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="wpo-about-text">
                                <div class="wpo-section-title" id="about">
                                    <span>Haqimizda</span>
                                    <h2>Seeking of knowledge is a duty of every Muslim</h2>
                                </div>
                                <p>The rise of Muslims to the zenith of civilization in a period of four decades was based on lslam's emphasis on learning. This is obvious when one takes a look at the Qur'an and the traditions of Prophet Muhammad which are filled with references to learning, education, observation.</p>
                                <div class="btns">
                                    <a href="about.html" class="theme-btn" tabindex="0">YouTube sahifa</a>
                                    <ul>
                                        <li class="video-holder">
                                            <a href="https://www.youtube.com/embed/LTqRm53QjI0" class="video-btn" data-type="iframe" tabindex="0"></a>
                                        </li>
                                        <li class="video-text">
                                            <a href="https://www.youtube.com/embed/LTqRm53QjI0" class="video-btn" data-type="iframe" tabindex="0">
                                                Video maruzalar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timer-section" id="namoz">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="timer-text">
                                <h2>Namoz vaqtlari</h2>
                                <p>Termiz namoz vaqtlari</p>
                                <span>Mon 15 Jan, 2020</span>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="timer-num">
                                <ul>
                                    <li>Tong<span>05:47</span></li>
                                    <li>Quyosh<span>07:05</span></li>
                                    <li>Peshin<span>12:34</span></li>
                                    <li>Asr<span>15:35</span></li>
                                    <li>Shom<span>17:58</span></li>
                                    <li>Xufton<span>19:15</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="timer-shape1">
                        <img src="assets/images/prayer-shape/2.png" alt="">
                    </div>
                    <div class="timer-shape2">
                        <img src="assets/images/prayer-shape/1.png" alt="">
                    </div>
                    <div class="timer-shape3">
                        <img src="assets/images/prayer-shape/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- wpo-about-area end -->
        <!-- wpo-event-area start -->
        <div class="wpo-event-area-2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-section-title">
                            <span>Ma`qolalar</span>
                            <h2>So'nggi ma`qolalar</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12 custom-grid">
                        <div class="wpo-event-item">
                            <div class="wpo-event-img">
                                <img src="assets/images/event/img-3.jpg" alt="">
                                <div class="thumb-text">
                                    <span>5</span>
                                    <span>FEV</span>
                                </div>
                            </div>
                            <div class="wpo-event-text">
                                <h2>Learn About Hajj</h2>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>8.00 - 5.00</li>
                                    <li><i class="fi ti-location-pin"></i>Newyork City</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <a href="event-single.html">Learn More...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 custom-grid">
                        <div class="wpo-event-item">
                            <div class="wpo-event-img">
                                <img src="assets/images/event/img-4.jpg" alt="">
                                <div class="thumb-text-2">
                                    <span>7</span>
                                    <span>FEV</span>
                                </div>
                            </div>
                            <div class="wpo-event-text">
                                <h2>Islamic Teaching Event</h2>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>8.00 - 5.00</li>
                                    <li><i class="fi ti-location-pin"></i>Newyork City</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <a href="event-single.html">Learn More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wpo-event-area end -->
        <!-- blog-area start -->
        <div class="blog-area section-padding">
            <div class="container">
                <div class="col-l2">
                    <div class="wpo-section-title">
                        <span>Ma`qolalar</span>
                        <h2>Eski ma'qolalar</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-4.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">The Importance of Marriage in Islam.</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-5.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">Salat is the best exercise for body fitness</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item b-0">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-6.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">Salat is the best exercise for body fitness</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>