        <!-- start of hero -->
        <section class="hero hero-style-1">
            <div class="hero-slider">
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-1.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>Eslating! Zero eslatma mo'minlarga manfa`at yetkazur</h2>
                                </div>
                                <div class="btns">
                                    <a href="/maruza" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-2.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>Yaratgan Robbing nomi bilan o`qi. U insonni alaqdan yaratdi.</h2>
                                </div>
                                <div class="btns">
                                    <a href="/maruzalar" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container">
                        <img src="assets/images/slider/slide-3.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-8 col-md-offset-2 slide-caption">
                                <div class="slide-top">
                                    <span>Keling Islomni o'rganamiz.</span>
                                </div>
                                <div class="slide-title">
                                    <h2>O`qi! Robbing Karamlilarning karamlisidir. U, qalam bilan ilm o`rgatgandir.</h2>
                                </div>
                                <div class="btns">
                                    <a href="/maruzalar" class="theme-btn">Maruzalar sahifasi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->
        <!-- wpo-about-area start -->
        <div class="wpo-about-area-2 section-padding">
            <div class="container">
                <div class="wpo-about-wrap">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="wpo-about-img-3">
                                <img src="assets/images/man.jpg" alt="Man">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="wpo-about-text">
                                <div class="wpo-section-title" id="about">
                                    <span>Biz haqimizda</span>
                                    <h2>Saidov Habibulloh Toxirovich</h2>
                                </div>
                                <p>Ustoz Habibulloh domla Saidov Surxondaryo viloyati Termiz Shahar Hakim-Termiziy jome masjidi imom-noibi sifatida faoliyat olib bormoqda. Ustoz boshchiligida 2021 Yil  Minbar.Uz telegram kanaliga asos solingan hozirgi kunda barcha ijtimoiy tarmoqlarda faoliyat olib borilmoqda.</p>
                                <div class="btns">
                                    <a target="_blank" href="https://youtube.com/channel/UCLm424cYLRmiOOUVpFfAthA" class="theme-btn" tabindex="0">YouTube sahifa</a>
                                    <ul>
                                        <li class="video-holder">
                                            <a href="https://www.youtube.com/embed/u92gs7gAokk" class="video-btn" data-type="iframe" tabindex="0"></a>
                                        </li>
                                        <li class="video-text">
                                            <a href="https://www.youtube.com/embed/u92gs7gAokk" class="video-btn" data-type="iframe" tabindex="0">
                                                Video
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="timer-section" id="namoz">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="timer-text">
                                <h2>Namoz vaqtlari</h2>
                                <p>Termiz namoz vaqtlari</p>
                                <span>10 Fevral 2023-yil</span>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="timer-num">
                                <ul>
                                    <li>Bomdod<span>06:35</span></li>
                                    <li>Quyosh<span>07:25</span></li>
                                    <li>Peshin<span>13:00</span></li>
                                    <li>Asr<span>16:25</span></li>
                                    <li>Shom<span>18:20</span></li>
                                    <li>Xufton<span>19:50</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="timer-shape1">
                        <img src="assets/images/prayer-shape/2.png" alt="">
                    </div>
                    <div class="timer-shape2">
                        <img src="assets/images/prayer-shape/1.png" alt="">
                    </div>
                    <div class="timer-shape3">
                        <img src="assets/images/prayer-shape/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- wpo-about-area end -->
        <!-- wpo-event-area start -->
        <div class="wpo-event-area-2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-section-title">
                            <span>Ma`qolalar</span>
                            <h2>So'nggi ma`qolalar</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% for (let item of articles) { %>
                    <div class="col-md-6 col-sm-12 col-12 custom-grid">
                        <div class="wpo-event-item">
                            <div class="wpo-event-img">
                                <img src="/uploads/articles/<%= item.image %>" alt="">
                                <div class="thumb-text">
                                    <span>5</span>
                                    <span>FEV</span>
                                </div>
                            </div>
                            <div class="wpo-event-text">
                                <h2><%= item.title %></h2>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>8.00 - 5.00</li>
                                </ul>
                                <p class="line-clamp"><%= item.description %></p>
                                <a href="<%=`/maqola/${item._id}`%>">Batafsil...</a>
                            </div>
                        </div>
                    </div>
                    <%}%> 
                </div>
            </div>
        </div>
        <!-- wpo-event-area end -->
        <!-- blog-area start -->
        <div class="blog-area section-padding">
            <div class="container">
                <div class="col-l2">
                    <div class="wpo-section-title">
                        <span>Ma'ruzalar</span>
                        <h2>Ma'ruzalar</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-4.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">The Importance of Marriage in Islam.</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-5.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">Salat is the best exercise for body fitness</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item b-0">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-6.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">Salat is the best exercise for body fitness</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>